body {
    font-family: 'caviar_dreamsregular', 'LiberationSansRegular';
    background-color: gray;
    color: black;
    margin: 0;
    font-size: 11pt;
    overflow-x:hidden;
}
header {
    margin: 5px auto 15px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 2.2em;
}
#title  {
    
}
.title  {
    font-weight:normal!important;
    color:white!important;
}
p   {
    line-height: 1.4;
    margin:0;
}
.centered {
    text-align: center;
}
.textShadow {
    text-shadow: 2px 2px 5px black;
    filter: dropshadow(color=black, offx=2, offy=2);
}
.curvedShadow   {
  	position:relative;
}
.curvedShadow:before, .curvedShadow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 25px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 25px rgba(0,0,0,0.8);
    box-shadow:0 0 25px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.curvedShadow:after {
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}
.boxShadow {
    -webkit-box-shadow: 0 2px 5px 0 gray;
    box-shadow: 0 2px 5px 0 gray;
}
section {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}
#menu, #about, #sequence {
    padding:2px 0;
    background-color:lightgray;
}
.sequences {
    list-style-type:none;
    margin:2px 4px 4px;
    padding:0;
}
.step {
    margin: 15px 0;
    padding: 5px;
    background-color:white;
}
.leftside   {
    margin-right:10px;
    padding-left:13px;
    -webkit-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
}
.rightside   {
    margin-left:10px;
    padding-right:15px;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
}
.question {
    font-size: 1em;
    font-weight: bold;
    margin: 0 5px;
}
.buttons {
    width: 100%;
    display:inline-block;
}
.button {
    background-color: white;
    border: 1px solid gray;
    width: 67px;
    height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 4px;
    padding-top:2px;
}
.littleButton {
    width: 20px;
}

.rounded {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.answer {
    border: 1px solid gray;
    margin: 2px 4px 4px;
    text-align: center;
}
.alert {
    background-color: white;
    color: red;
    border: 1px solid red;
    margin: 3px 4px;
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: bold;
}
input {
    font-family: 'caviar_dreamsregular', 'LiberationSansRegular';
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    width: 98%;
    margin: 2px 0;
    background:white;
}
textarea    {
    font-family: 'caviar_dreamsregular', 'LiberationSansRegular';
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    width: 98%;
    margin: 2px 0;
}
select {
    font-family: 'caviar_dreamsregular', 'LiberationSansRegular';
    border: none;
    background: transparent;
    font-size: 0.9em;
    font-weight: bold;
    width: 98%;
    margin-bottom: 2px;
}
a:link, a:active, a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}
a.gray:link, a.gray:active, a.gray:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a.gray:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}
ul {
    margin: 2px;
    line-height: 1.4;
}
.info {
    background-color: lightgray;
    margin: 2px 4px 4px;
    padding: 5px 10px;
    font-size: 0.9em;
}
.info a {
    text-decoration: underline;
}
.buttons a {
    text-decoration: none;
}
.result {
    background-color:gray;
    color:white;
    margin: 2px 4px 4px;
    padding: 5px 10px;
    font-size: 1em;
}
footer {
    margin: 5px auto 0 auto;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 0.9em;
}