@media only screen and (max-device-width: 1023px) and (min-device-width: 320px) {
    body {} header {
        min-width: 200px;
        max-width: 400px;
    }
    section {
        min-width: 200px;
        max-width: 400px;
    }
    footer {
        min-width: 200px;
        max-width: 400px;
    }
    .step {
    margin: 10px 0;
    padding: 5px;
    background-color:white;
    }
}